@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#E31E24, "primary");
	@include getColors(#E31E24, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#231F20, "text");

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter', Arial, Helvetica, sans-serif;
	--font-alt : 'Montserrat', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	background    : var(--bg1);
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

	* {
		font-family: var(--font-base);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.started {
	background:
		url("../img/started-bg.jpg") no-repeat center / cover,
		linear-gradient(113.26deg, rgba(227, 30, 37, 0.6) 0%, rgba(227, 30, 36, 0) 65.03%),
		#482F32;
	color      : #fff;
	overflow   : hidden;
	height     : 968px;
	padding-top: 174px;


	&-inner {
		display    : flex;
		align-items: center;
	}

	&-content {
		white-space: nowrap;
	}

	&__title {
		font-weight: 700;
		font-size  : 52px;
		line-height: 120%;
		font-family: var(--font-alt);

		text-transform: uppercase;
		margin-bottom : 26px;

		img {
			vertical-align: middle;
			display       : inline-block;
			margin-bottom : 7px;
		}

		span {
			color              : rgba(0, 0, 0, 0);
			-webkit-text-stroke: 1px #fff;
		}
	}

	&__btn {
		margin-top: 54px;
	}


	&-cards {
		animation       : started-cards 4.5s ease both;
		transform-origin: center -1200px;
	}

	&-card {
		animation: started-card 4.5s ease both;

		// &--1 {
		// 	animation-delay: .2s;
		// }

		// &--2 {
		// 	animation-delay: .3s;
		// }

		// &--3 {
		// 	animation-delay: .4s;
		// }
	}

	&-img {
		position  : relative;
		align-self: stretch;
		flex-grow : 1;

		img {
			position : absolute;
			display  : block;
			height   : 725px;
			width    : 874px;
			max-width: none;
			top      : calc(50% - 320px);
			left     : calc(50% - 360px);
		}
	}
}

@keyframes started-card {
	0% {
		transform: translateY(-100px) rotateZ(90deg);
	}

	100% {
		transform: translateY(0) rotateZ(0);
	}
}

@keyframes started-cards {
	0% {
		transform: translateY(-300px) rotateZ(-90deg);
		opacity  : 0;
	}

	100% {
		transform: translateY(0) rotateZ(0deg);
		opacity  : 1;
	}
}

.header {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	position       : fixed;
	top            : 0;
	left           : 0;
	width          : 100%;
	z-index        : var(--zi-l2);
	padding-top    : 32px;

	&-nav {
		display: flex;

		&__item {
			position: relative;

			&:before {
				content : '';
				position: absolute;
				inset   : -24px;
			}

			&+& {
				margin-left: 50px;
			}
		}
	}
}