@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#E31E24, "primary");
	@include getColors(#E31E24, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#231F20, "text");
	@include getColors(#FFC98B, "prem");

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter', Arial, Helvetica, sans-serif;
	--font-alt : 'Montserrat', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	background    : var(--bg1);
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

	* {
		font-family: var(--font-base);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.header {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	position       : fixed;
	top            : 0;
	left           : 0;
	width          : 100%;
	z-index        : var(--zi-l2);
	padding-top    : 32px;

	@media(max-width:$lg) {
		padding-top: 20px;
	}

	&-logo {
		@media(max-width:$md) {
			width: 120px;
		}
	}

	&-nav {
		display: flex;

		@media(max-width:$lg) {
			display: none;
		}

		&__item {
			position: relative;

			&:before {
				content : '';
				position: absolute;
				inset   : -24px;
			}

			&+& {
				margin-left: 50px;
			}
		}
	}
}

.title {
	font-weight   : 700;
	font-size     : 52px;
	text-transform: uppercase;
	font-family   : var(--font-alt);
	width         : max-content;
	max-width     : 100%;

	@media(max-width:$md) {
		font-size: 42px;
	}

	@media(max-width:$sm) {
		font-size: 28px;
	}

	&--gradient {
		background             : linear-gradient(94.9deg, rgba(227, 30, 36, 0.5) 0.96%, rgba(227, 30, 36, 0) 34.07%), var(--color-text);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;

	}
}

.started {
	background:
		url("../img/started-bg.jpg") no-repeat center / cover,
		linear-gradient(113.26deg, rgba(227, 30, 37, 0.6) 0%, rgba(227, 30, 36, 0) 65.03%),
		#482F32;
	color      : #fff;
	overflow   : hidden;
	height     : 968px;
	max-height : 100vh;
	padding-top: 174px;
	position   : relative;

	@media(max-width:$lg) {
		padding-top   : 220px;
		padding-bottom: 150px;
		height        : auto;
	}

	@media(max-width:$md) {
		padding-bottom: 20px;
	}

	&-inner {
		display      : flex;
		align-items  : center;
		margin-bottom: 74px;

		@media(max-width:$lg) {
			margin-bottom: 0;
		}

		@media(max-width:$md) {
			flex-direction: column;
		}
	}



	&__title {
		font-weight: 700;
		font-size  : 52px;
		line-height: 120%;
		font-family: var(--font-alt);

		text-transform: uppercase;
		margin-bottom : 26px;

		@media(max-width:$md) {
			font-size    : 42px;
			margin-bottom: 12px;
		}

		img {
			vertical-align: middle;
			display       : inline-block;
			margin-bottom : 7px;
		}

		span {
			color              : rgba(0, 0, 0, 0);
			-webkit-text-stroke: 1px #fff;
		}
	}

	&__btn {
		margin-top: 54px;

		@media(max-width:$md) {
			margin-top: 20px;
		}
	}


	&-cards {
		// animation       : started-cards 4.5s ease both;
		transform-origin: center -1200px;


		@media(max-width:$lg) {
			display: none;
		}
	}

	&-card {
		// animation          : started-card 4.5s ease both;
		background     : radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
		backdrop-filter: blur(21px);

		border       : 2px solid rgba(255, 255, 255, 0.1);
		border-radius: 36px;
		padding      : 36px 42px;
		position     : relative;

		@media(max-width:$lg) {
			padding: 20px;
		}

		&--1 {
			background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(227, 30, 36, 0.2) 0%, rgba(227, 30, 36, 0.072) 100%);
		}

		// &--2 {
		// 	animation-delay: .3s;
		// }

		// &--3 {
		// 	animation-delay: .4s;
		// }

		&__light {
			background:
				radial-gradient(45.27% 45.27% at 49.99% 49.99%,
					rgba(255, 255, 255, 0.4) 0%,
					rgba(255, 255, 255, 0.25) 10%,
					rgba(255, 255, 255, 0.1) 40%,
					rgba(255, 255, 255, 0) 80%);
			background-blend-mode: color-dodge;
			mix-blend-mode       : color-dodge;

			// opacity : 0.3;
			position: absolute;
			left    : -110px;
			top     : -150px;
			width   : 247px;
			height  : 318px;
		}
	}

	&-content {
		white-space: nowrap;

		@media(max-width:$lg) {
			position: relative;
			z-index : 2;
		}

		@media(max-width:$md) {
			width: 100%;
		}
	}

	&-img {
		position  : relative;
		align-self: stretch;
		flex-grow : 1;

		@media(max-width:$md) {
			order : -1;
			height: 180px;
		}

		&:before {
			content   : '';
			position  : absolute;
			width     : 502px;
			height    : 502px;
			left      : calc(50% - 251px);
			top       : calc(50% - 201px);
			background: url("../img/started-circle.png") no-repeat center / contain;
		}

		img {
			position : absolute;
			display  : block;
			height   : 725px;
			width    : 874px;
			max-width: none;
			top      : calc(50% - 320px);
			left     : calc(50% - 360px);


			@media(max-width:$lg) {
				top : calc(50% - 725px / 2);
				left: calc(50% - 874px / 2 + 80px);
			}

			@media(max-width:$md) {
				top : calc(50% - 725px / 2 + 50px);
				left: calc(50% - 874px / 2 + 60px);
			}
		}
	}

	&-sign {
		font-weight: 400;
		font-size  : 20px;
		font-family: var(--font-alt);
		color      : #FFFFFF;
		opacity    : 0.5;
		transform  : rotate(-90deg) translateX(50%);

		position        : absolute;
		left            : 75px;
		bottom          : 0;
		display         : flex;
		align-items     : center;
		transform-origin: left top;

		@media(max-width:$lg) {
			transform: rotate(-90deg) translateX(25%);
			left     : 20px;
		}

		@media(max-width:872px) {
			display: none;
		}

		&__arrows {
			margin-right: 98px;

			@media(max-width:$lg) {
				margin-right: 50px;
			}
		}
	}
}

@keyframes started-card {
	0% {
		transform: translateY(-100px) rotateZ(90deg);
	}

	100% {
		transform: translateY(0) rotateZ(0);
	}
}

@keyframes started-cards {
	0% {
		transform: translateY(-300px) rotateZ(-90deg);
		opacity  : 0;
	}

	100% {
		transform: translateY(0) rotateZ(0deg);
		opacity  : 1;
	}
}

.portfolio {
	padding-top   : 80px;
	padding-bottom: 94px;

	&__title {
		margin-bottom: 48px;
	}

	&-tabs {
		display       : flex;
		gap           : 24px;
		margin-bottom : 32px;
		padding-top   : 20px;
		padding-bottom: 20px;
		width         : calc(100% + 30px);
		margin-left   : -15px;
		padding-left  : 15px;
		padding-right : 15px;
		overflow      : auto;

		.btn {
			white-space: nowrap;

			&:not(.tab-active) {
				border-color: rgba(0, 0, 0, 0);
				color       : var(--color-text-60);
			}
		}
	}

	&-slider {
		display       : flex;
		flex-direction: row-reverse;

		@media(max-width:$md) {
			width        : calc(100% + 30px);
			margin-left  : -15px;
			padding-left : 15px;
			padding-right: 15px;
		}

		.swiper-wrapper {
			@media(min-width:$lg) {
				flex-direction: row-reverse;
				transform     : none !important;
			}
		}
	}

	&-item {
		border-radius: 36px;
		overflow     : hidden;

		height        : 644px;
		width         : auto;
		max-width     : 578px;
		display       : flex;
		flex-direction: column;
		align-items   : flex-start;
		position      : relative;
		flex-grow     : 1;

		transition: 1.2s ease;

		// border: 1px solid #000;
		@media(min-width:$lg) {
			&+& {
				margin-right: -72px;
			}

			&:last-of-type {
				flex-grow: 6;
			}

			&:last-of-type &__content {
				opacity: 1;
			}
		}

		@media(max-width:$lg) {
			width        : 300px;
			height       : 336px;
			border-radius: 18px;
		}

		&__img {
			position: absolute;
			left    : 0;
			top     : 0;
			width   : 100%;
			height  : 100%;

			img {
				width     : 100%;
				height    : 100%;
				object-fit: cover;
			}
		}

		&__content {
			flex-grow: 1;

			padding       : 56px 40px 40px;
			display       : flex;
			flex-direction: column;
			align-items   : flex-start;

			position  : absolute;
			left      : 0;
			top       : 0;
			width     : 578px;
			height    : 100%;
			transition: .5s;

			@media(min-width:$lg) {
				opacity: 0;

			}

			@media(max-width:$lg) {
				padding: 30px 20px 20px;
			}

		}

		&__btn {
			margin-top: 60px;

			@media(max-width:$lg) {
				margin-top: 16px;
				--size    : 28px;
				font-size : 10px;
			}
		}

		&__manager {
			margin-top     : auto;
			display        : flex;
			align-items    : center;
			padding        : 16px;
			border         : 1px solid rgba(255, 255, 255, 0.2);
			background     : radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
			filter         : drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
			backdrop-filter: blur(10px);

			border-radius: 28px;

			@media(max-width:$lg) {
				border-radius: 14px;
				padding      : 8px;
			}

			&-avatar {
				width: 64px;

				@media(max-width:$lg) {
					width: 32px;
				}
			}
		}
	}

	@media(min-width:$lg) {
		&-slider:hover &-item {
			flex-grow: 1;

			&__content {
				opacity: 0;
			}
		}

		&-slider:hover &-item:hover {
			flex-grow : 6;
			transition: 1s ease, margin-left .75s .5s;

			position: relative;


			&:not(:last-of-type) {
				margin-left: -120px;
			}
		}

		&-slider:hover &-item:hover &-item__content {
			opacity            : 1;
			// transition-delay: .25s;
		}

		&-slider:hover &-item:hover+&-item {
			margin-right: 48px;
		}
	}
}

.steps {
	background    : radial-gradient(50% 308.82% at 50% 50%, rgba(227, 30, 36, 0) 49.33%, rgba(227, 30, 37, 0.5) 100%), #482F32;
	color         : #fff;
	padding-top   : 80px;
	padding-bottom: 80px;
	position      : relative;

	@media(max-width:$sm) {
		background: radial-gradient(50% 308.82% at 50% 50%, rgba(227, 30, 36, 0) 49.33%, rgba(227, 30, 37, 0.15) 100%), #482F32;
	}

	&__title {
		color: #fff;

	}

	&__bg {
		position: absolute;
		left    : 0;
		top     : 0;
		width   : 100%;
		height  : 100%;


		&:before {
			content   : '';
			position  : absolute;
			inset     : 0;
			background: radial-gradient(50% 308.82% at 50% 50%, rgba(227, 30, 36, 0) 69.33%, rgba(227, 30, 37, 0.2) 100%);
			z-index   : 1;

			@media(max-width:$sm) {
				display: none;
			}
		}

		img {
			width     : 100%;
			height    : 100%;
			display   : block;
			object-fit: cover;
		}
	}

	&__content {
		position: relative;
		z-index : 2;
	}

	&-line {
		@media(max-width:$lg) {
			display: none;
		}
	}

	&-items {
		display              : grid;
		grid-template-columns: 1.1fr repeat(4, 1fr);
		grid-gap             : 35px;

		@media(max-width:$lg) {
			grid-template-columns: 1fr 1fr 1fr;
			margin-top           : 40px;
		}

		@media(max-width:$md) {
			grid-template-columns: 1fr 1fr;

		}

		@media(max-width:$sm) {
			grid-gap: 32px;
		}
	}

	&-item {
		position: relative;

		@media(min-width:$lg) {
			&:nth-of-type(3) {
				margin-top: -10px;
			}

			&:nth-of-type(4) {
				margin-top: -42px;
			}

			&:nth-of-type(5) {
				margin-top: -100px;
			}
		}

		@media(max-width:$sm) {
			br {
				display: none;
			}
		}

		&:before {
			content      : '';
			position     : absolute;
			width        : 9px;
			height       : 9px;
			border-radius: 50%;
			background   : var(--color-primary);
			box-shadow   : 0 0 0 3px var(--color-primary-40);
			left         : -5px;
			top          : -41px;

			@media(max-width:$lg) {
				display: none;
			}
		}

		&__number {
			font-weight            : 700;
			font-size              : 36px;
			background             : linear-gradient(180deg, #E31E24 0%, rgba(227, 30, 36, 0) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip        : text;
			text-fill-color        : transparent;
			font-family            : var(--font-alt);

			@media(max-width:$sm) {
				font-size: 28px;
			}
		}
	}
}